body{
  background-color: black;
  margin: 0;
}

#edit_area{
  width: 70%;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 30px;
  border-color: black;
  font-family: 'Inconsolata', serif;
  resize: none;
  float: left;
  padding: 10px;
}

#graph_area{
  background-color: white;
  width: 30%;
  height: 100%;
  display: inline-block;
  float: left;
}
#graph_slider{
  width: 100%;
}
#search_input{
  right: 10;
  top: 10;
  position: absolute;
  display: none;
}
#not_found{
  right: 10;
  top: 30;
  position: absolute;
  background: #fff;
  font-size: 20;
  display: none;
}
#display_item{
  top: 0;
  left: 70%;
  position: absolute;
}

.source_area{
  width: 70%;
  left: 100%;
  position: absolute;
}
#search_words_input{
  top: 0px;
  height: 4%;
  background-color: black;
  color: white;
  border: none;
}
#search_words_tab{
  top: 4%;
  height: 3%;
  font-size: 30;
}
#search_paths_tab{
  top: 7%;
  height: 3%;
}
#source_text{
  height: 90%;
  top: 10%;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  font-family: 'Inconsolata', serif;
  resize: none;
  padding: 10px;
}
pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-all;
  margin: 0;
}
.src_search_word{
  text-align: center;
  background-color: black;
  color: grey;
  height: 100%;
  margin: 0;
  float: left;
  width: 25%;
  font-size: 20;
}
.src_path{
  text-align: center;
  background-color: black;
  color: grey;
  height: 100%;
  margin: 0;
  float: left;
  width: 25%;
  font-size: 20;
}
#search_path{
  top: 100%;
  position: absolute;
  height: 3%;
  background-color: black;
  color: white;
  font-size: 20;
  text-align: center;
  word-wrap: break-word;
}
#search_word{
  color: black;
  background-color: yellow;
}

.string{
  fill: #2196F3;
  color: #2196F3;
}

.comment{
  fill: #FFEB3B;
  color: #FFEB3B;
}

.method{
  fill: #F44336;
  color: #F44336;
}

.normal{
  fill: #4CAF50;
  color: #4CAF50;
}

textarea:focus{
  outline: none !important;
  border:1px solid red;
/*  box-shadow: 0 0 10px #719ECE;*/
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
/*  fill: #c00;*/
  stroke: #fff;
  stroke-width: 1px;
}

text {
  fill: #000;
  font: 12px sans-serif;
  pointer-events: none;
}